@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.ttf?d38c018bbae54e62e8f7351092bbd870") format("truetype"),
    url("../fonts/flaticon.woff?d38c018bbae54e62e8f7351092bbd870") format("woff"),
    url("../fonts/flaticon.woff2?d38c018bbae54e62e8f7351092bbd870") format("woff2"),
    url("../fonts/flaticon.eot?d38c018bbae54e62e8f7351092bbd870#iefix") format("embedded-opentype"),
    url("../fonts/flaticon.svg?d38c018bbae54e62e8f7351092bbd870#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-3d-buildings:before {
    content: "\f101";
}
.flaticon-calendar:before {
    content: "\f102";
}
.flaticon-conveyor-belt:before {
    content: "\f103";
}
.flaticon-energy:before {
    content: "\f104";
}
.flaticon-envelope:before {
    content: "\f105";
}
.flaticon-grid:before {
    content: "\f106";
}
.flaticon-handrail:before {
    content: "\f107";
}
.flaticon-heater:before {
    content: "\f108";
}
.flaticon-height:before {
    content: "\f109";
}
.flaticon-parking-square-sign:before {
    content: "\f10a";
}
.flaticon-phone-call:before {
    content: "\f10b";
}
.flaticon-pin:before {
    content: "\f10c";
}
.flaticon-plan:before {
    content: "\f10d";
}
.flaticon-rating:before {
    content: "\f10e";
}
.flaticon-technology:before {
    content: "\f10f";
}
.flaticon-trowel-1:before {
    content: "\f110";
}
.flaticon-trowel:before {
    content: "\f111";
}
.flaticon-winner:before {
    content: "\f112";
}